* {
    margin: 0px;
    padding: 0px;
}

.rest_list {
    text-align: center;
    align-items: center;
    font-style: 'Tangerine', serif, italic;
    font-size: 48px;
}

.list_style {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    align-items: center;
    font-size: xx-large;
}

.room-type {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading1 {
    text-align: center;
}